allow qti_init_shell sysfs:file { w_file_perms };
allow qti_init_shell sensors_persist_file:dir write;
allow qti_init_shell sensors_persist_file:file write;
