<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.settings.device"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="26" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:label="@string/device_settings_app_name">

        <activity
            android:name=".VivoFeaturesActivity"
            android:label="@string/vivo_features_title"
            android:icon="@drawable/ic_settings_vivo_features"
            android:theme="@style/DeviceSettings">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/vivo_features_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_vivo_features" />
        </activity>

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
